[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
redis = "*"
requests = "*"
praw = "*"
pillow = "*"
pylint = "*"
black = "*"
thefuzz = {extras = ["speedup"], version = "*"}
fakeredis = "*"

[requires]
python_version = "3.8"
